body {
	background-color: black;
}
h1{
	text-align:center;
	font-family:calibri;
	color: white;
}

div{
	color: white;
	font-family: calibri;
	font-size: 20;
	text-align: center;
	background-color: grey;
	width : 600px;
	padding : 3px;
	border: 5px solid blue;
	margin: 20px auto;
}

img {
	background-color: navy;
	width: 250px;
	height: 200px;
	padding : 4px;
	border: 6px solid black;
	margin: 10px auto;
}
