	p {color:white;
		text-align: center;
		font-family:Arial;
		font-size:3;
	}
	
	h1{color:red;
		text-align: center;
		font-family:Arial;
	}
	
	p b {font-family:calibri;
		color:red;
	}
